.blogContainer {
  width: 80%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1rem;
}

.blogContainer h2 {
  text-align: center;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.galleryItemPicture img {
  /* max-width: 420px; */
  height: 300px;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}