.galleryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 940px;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.galleryActionContainer {
  margin-top: 20px;
}

.galleryItem {
  display: flex;
  align-items: center;
  height: 400px;
}

.galleryItemPicture img {
  max-width: 420px;
  height: 400px;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.galleryItemContent {
  padding: 0;
}

.galleryItem p {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
}
