.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.formInner {
    display: flex;
    width: 50%;
    min-width: 360px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.formInner form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.formSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.formSection * {
    width: 100%;
}

.formSection button {
    margin-top: 20px;
}

.formInner a {
    padding: 0 20px;
    font-weight: 700;
    color: var(--text-color);
}

.formInner a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}