.commentBoxInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 30px 50px 20px;
}

.commentBoxInnerBody {
    width: calc(100% - 60px);
    height: 100%;
}

.commentBoxInnerContent {
    padding: 0 10px;
}

.commentBoxHeader {
    border-bottom: solid 1px var(--surface-border);
    margin-bottom: 36px;
}

.commentBoxHeader h2 {
    font-size: 1rem;
    margin-bottom: 1em;
}

.newComment .newButton button {
    width: 100%;
    text-align: start;
    color: var(--bluegray-600);
}

.editorButtons {
    display: flex;
    justify-content: end;
}

.editorButtons button {
    width: 100px;
    margin: 1em 0 0 10px;
}

.commentBoxContent {
    margin-top: 20px;
}

.commentBoxHeader button {
    display: flex;
    align-items: center;
    justify-content: center;
}
