.galleryItemBody {
    flex: 1;
}

.postMetadata {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.postMetadata img {
    object-fit: cover;
}

.postMetaText {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 0.5em;
}

.postTitle {
    display: block;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}

.postSubTitle {
    cursor: pointer;
    transition: color 0.3s;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
}

.postTitle:hover,
.postSubTitle:hover {
    color: var(--primary-color);
}

.authorName, .postDate {
    margin: 0;
}

.postFooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.likesContainer {
    display: flex;
    align-items: center;
}

.postBodyContent {
    height: 140px;
    width: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(var(--text-color), rgba(212, 4, 4, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
