.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }
  
  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .gallery-action-container {
    margin-top: 20px;
  }
  